td.arrow {
  border-left: 0 !important;
  padding-left: 4px !important;
}

td.delta {
  border-right: 0 !important;
  padding-right: 0 !important;
}

body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  border-bottom: 1px solid  rgb(167, 201, 66);
  padding-left: 1em;
  background-color: rgb(234, 242, 211);
  font-weight: normal;
  text-align: center;
  margin-top: 0;
}

table.data {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table.data th {
  background-color: rgb(167, 201, 66);
  border: 1px solid rgb(234, 242, 211);
  color: white;
  padding-left: 0.3em;
  padding-right: 0.3em;
  vertical-align: bottom;
}

table.data td {
  border: 1px solid rgb(152, 191, 33);
  background-color: white;
}

table.data td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

table.data tr.alt td {
  background-color: rgb(234, 242, 211);
}

div#navigation {
  text-align: center;
  background-color: rgb(167, 201, 66);
  padding: 0.5em;
}

div#navigation a {
  text-decoration: none;
  color: white;
}

div#navigation a:hover {
  color: black;
}

div#navigation ul {
  list-style-type: none;
}
div#navigation li {
  display: inline;
  padding-right: 3em;
  font-family: sans-serif;
}

td.num {
  text-align: right;
}

div#errorMessage {
  color: #cc0000;
  font-size: larger;
}

table.data a {
  text-decoration: none;
  color: black;
}

table.data a:hover {
  text-decoration: underline;
}

.quiet {
  color: #bbbbbb;
}

div.bargraph {
  width: 22em;
  height: 1.1em;
  background-color: white;
}

span.playername a {
  text-decoration: none;
  color: black;
}

span.playername a:hover {
  text-decoration: underline;
}
