table.results {
 width: 100%;
}

table.results > tbody > tr > td {
  vertical-align: top;
  text-align: center;
  padding: 0.5em;
}

div.resultbox span.playername {
  display: block;
  font-size: larger;
  font-weight: bold;
}

div.resultbox table {
  margin-left: auto;
  margin-right: auto;
}

td.delta {
  text-align: right;
  width: 1em;
}

td.outcome {
  text-align: center;
}

td.opponent {
  text-align: left;
  width: 10em;
}

table.summary {
  margin-left: auto;
  margin-right: auto;
}

span.negative {
  color: red;
}

th.colgroup {
  border-bottom: 1px solid rgb(234, 242, 211);
}
